.guild
{
    padding: .4rem 0;

    background: #00ff8b;
}.guild .img
{
    float: left;

    width: 1.33333rem;
    height: 1.33333rem;
    margin-left: .4rem;

    border-radius: 1.33333rem;
    background: #eee;
}.guild .img img
{
    width: 100%;
}.guild .detail
{
    line-height: .66667rem;

    float: left;

    margin-left: .4rem;
}.guild .detail .title
{
    font-size: .46667rem;
    font-weight: 700;
}.guild:after
{
    display: block;
    clear: both;

    content: '';
}.select
{
    position: absolute;
    top: calc(50% - 10px);
    left: -.8rem;

    width: 20px;
    height: 20px;

    border: 1px solid #c7c4c4;
    border-radius: 20px;
}.select-active
{
    border: 1px solid #ff0059;
    background: url('http://m.wxqing.cn/static/image/select.png') no-repeat #ff0059;
    background-size: contain;
}.settlement
{
    font-size: .32rem;
}.settlement .title
{
    font-weight: 700;
    line-height: 1.13333rem;

    height: 1.13333rem;

    text-align: center;

    background: #0ee;
}.settlement .settlementList
{
    padding-bottom: 2.66667rem;
}.settlement .gold-icon
{
    position: absolute;

    float: left;

    width: .53333rem;
    height: .66667rem;

    background: url('/images/gold.png') no-repeat;
    background-position: 50%;
    background-size: 70%;
}.settlement .aGame
{
    padding: 0 .26667rem 0 1.06667rem;
}.settlement .aGame .game-detail
{
    line-height: 1.06667rem;

    position: relative;
}.settlement .aGame .game-detail .logo
{
    float: left;
    overflow: hidden;

    width: 100px;
    height: 1.06667rem;
}.settlement .aGame .game-detail .logo img
{
    width: .66667rem;

    vertical-align: middle;
}.settlement .aGame .game-detail .name
{
    text-align: center;
}.settlement .aGame .game-detail .time
{
    float: right;

    color: #c2c2c2;
}.settlement .aGame .game-detail span
{
    line-height: 1.06667rem;

    display: block;
    overflow: scroll;

    width: 4rem;
    height: 1.06667rem;

    white-space: nowrap;
}.settlement .aGame .list
{
    position: relative;

    margin-bottom: 1px;
    padding: .26667rem;

    background: #f5f5f5;
}.settlement .aGame .list .close
{
    position: absolute;
    top: 0;
    right: 0;

    width: .53333rem;
    height: .53333rem;

    background: #d2d2d2;
    background: url('http://m.wxqing.cn/static/image/close.png') no-repeat #d2d2d2;
    background-size: contain;
}.settlement .aGame .list .name
{
    font-size: .37333rem;
}.settlement .aGame .list .gameWin
{
    line-height: .66667rem;
}.settlement .aGame .list:after
{
    display: block;
    clear: both;

    content: '';
}.settlement .aGame .list .profit > div
{
    line-height: .66667rem;

    position: relative;

    float: left;

    width: 33%;
    height: .66667rem;
}.settlement .aGame .list .profit .text-center
{
    text-align: center;
}.settlement .aGame .list .profit .text-right
{
    text-align: right;
}.settlement .aGame .list .profit .color
{
    color: #bebebe;
}.settlement .aGame .list .profit .input
{
    position: relative;

    width: 80%;
    height: .53333rem;
}.settlement .aGame .list .profit .input input
{
    line-height: .66667rem;

    float: left;

    width: 100%;
    height: .66667rem;
    padding-left: .66667rem;

    border: none;
    outline: none;
}.settlement .aGame .list .profit .input-get
{
    position: absolute;
    right: 0;
}.settlement .aGame .list .profit .input-get .get
{
    padding-left: .66667rem;
}.settlement .aGame .guardian
{
    height: .8rem;
    padding: .26667rem 0;
}.settlement .aGame .guardian > div
{
    float: left;
}.settlement .aGame .guardian .aGame-total
{
    line-height: .66667rem;

    padding-left: .66667rem;
}.settlement .aGame .guardian .btn
{
    line-height: .8rem;

    float: right;

    width: 2.26667rem;
    height: .8rem;

    text-align: center;

    color: #2c1339;
    border-radius: 3px;
    background: #00ff8b;
}.Total
{
    position: fixed;
    bottom: 0;

    width: 96%;
    padding: 2%;

    color: #340838;
    background: #fff;
}.Total .right-span
{
    float: right;
}.Total .total
{
    font-size: .48rem;
    font-weight: 700;
}.Total .total-bets,
.Total .total-expect
{
    font-weight: 700;

    margin-top: .13333rem;
}.Total .handle
{
    margin-bottom: .13333rem;
    padding: .13333rem 0;

    border-bottom: 1px solid #eee;
}.Total .handle:after
{
    display: block;
    clear: both;

    content: '';
}.Total .handle > div
{
    line-height: .66667rem;

    float: right;
}.Total .handle .btn
{
    line-height: .8rem;

    float: right;

    width: 2.26667rem;
    height: .8rem;

    text-align: center;

    color: #fff;
    border-radius: 3px;
    background: #ff0059;
}.Total .handle .all
{
    margin-right: .66667rem;
}.Total .handle .all .aGame-total
{
    font-size: .4rem;
    font-weight: 700;

    padding-left: .66667rem;
}.Total .handle .all-select
{
    position: relative;
    left: .86667rem;

    float: left;
}.Total .clear-go:after
{
    display: block;
    clear: both;

    content: '';
}.Total .clear-go .clear
{
    line-height: .93333rem;

    float: left;

    height: .93333rem;
    margin-left: .13333rem;
    padding-left: .66667rem;

    background: url('http://m.wxqing.cn/static/image/trash.png') no-repeat;
    background-position: 0;
    background-size: 40%;
}.Total .clear-go .friendPay
{
    line-height: .8rem;

    float: right;

    width: 2.26667rem;
    height: .8rem;

    text-align: center;

    color: #2c1339;
    border-radius: 3px;
    background: #00ff8b;
}.Total .clear-go .btn
{
    line-height: .93333rem;

    float: right;

    height: .93333rem;
    margin-right: .38667rem;

    text-align: center;

    color: #ff0059;
}.Total .clear-go .btn span
{
    text-decoration: underline;
}.Total .total-handle:after
{
    display: block;
    clear: both;

    content: '';
}.tip
{
    padding: .66667rem 0;
    padding-bottom: 1.33333rem;

    text-align: center;
}.tip p
{
    font-size: .16rem;
    line-height: .8rem;

    padding-left: .13333rem;

    color: #ff1d6c;
}.tip .btn
{
    line-height: .93333rem;

    float: right;

    width: 2.26667rem;
    height: .93333rem;
    margin-right: .26667rem;

    text-align: center;

    background: #ebff00;
}.alert-layer
{
    font-size: .53333rem;
    line-height: 5.33333rem;

    position: fixed;
    z-index: 100;
    top: 0;
    left: 0;

    display: none;

    width: 100%;
    height: 100%;

    text-align: center;

    color: #fff;
    background: rgba(0,0,0,.6);
}.alert-layer-show
{
    display: block;
    overflow: hidden;
}.alert-layer-show img
{
    width: 100%;
}
