
.user-info{
    min-height: 4em;
    background: #1F2038;
    position:relative;
}
.user-img{
    height: 3em;
    width: 3em;
    background-size: cover;
    border-radius: 3em;
    position: absolute;
    left: 0.5em;
    top: 0.5em;
    background: white;
}

.user-name{
    height: 4em;
    position: absolute;
    left: 4em;
    top: 0;
    overflow: hidden;
    font-family: PingFangSC-Medium;
    color: #FFFFFF;
    letter-spacing: 0;
}
.detail-link a{
    display: block;
    float:left;
}

.goHome{
    background: url(../images/ic_home_0_24.png) no-repeat;
    background-size: contain;
    width: 4em;
    height: 4em;
    left: 50%;
    position: absolute;
    margin: auto -2em;
    top: 0;
}

.shop{
    height: 2.8em;
    width: 2.8em;
    background: url("../images/user/shop.png") no-repeat;
    background-size: contain;
    position: absolute;
    margin-top:0.6em;
}
.myCar{
    width: 2.8em;
    height: 2.8em;
    background: url("../images/user/mycar.png") no-repeat;
    background-size: contain;;
    margin-left: 4em;
    position: absolute;
    margin-top:0.6em;
}
.detail-link{
    width: 8em;
    height: 4em;
    position: absolute;
    right: 0;
    top: 0;
}
.shop-span {
    position: absolute;
    height: 0.5em;
    width: 0.5em;
    right: 0px;
    top: 0px;
    background: red;
    display: block;
    border-radius: 0.5em;
}
.car-count{
    position: absolute;
    right: -0.4em;
    top: -0.4em;
    background: red;
    border-radius: 1.5em;
    color: #fff;
    height: 1.5em;
    width: 1.5em;
    text-align: center;
    font-size: 0.6em;
    line-height: 1.7em;
}

.dot{
    position: absolute;
    height: 0.5em;
    width: 0.5em;
    right: 0px;
    top: 0px;
    background: red;
    display: block;
    border-radius: 0.5em;
}

.name{
    line-height:2em;
    font-size: 1.2em;
}





.gold{
    line-height: 2em;
}

.icon {
    height: 1.5em;
    width: 1.5em;
    position: relative;
    top: 0;
    background: url(../images/user/gold.png) no-repeat;
    background-size: cover;
    background-position: 0;
}











.huiIN{
    position: fixed;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.5);
    z-index: 99;
    opacity: 0;
    top: 0;
    left: 0;
    visibility: hidden;
}
.huiIN-show{
	visibility: visible;
	opacity: 1;
	ransition: .3s ease;
}

.back{
	height: 100%;
    width: 100%;
    position: absolute;
    right: 0;
    top: 0;
}

.login-page{
	width: 100%;
    height: 100%;
    left: 0;
    top:0;
    z-index: 100;
    transform: translateX(-100%);
    transition: transform .3s ease;
    position: fixed;
}

.login-page-show{
	transform: translateX(0);
	transition: transform .3s ease;
}
.no-login{
	height: 100%;
	width: 80%;
	opacity: 1;
	overflow: auto;
	padding-top: 5%;
	text-align: center;
	line-height: 4em;
	background: white;
	position: relative;
	z-index: 10;
    font-size: 1em;
}

.phone-input input{
    height: 4em;
    width: 90%;
    margin: 0 auto;
    border: 1px solid #e2e2e2;
    padding: 0 5%;
    border-radius: 10px;
    margin-top: 5%;
    display: block;
    font-size: 1em;
    line-height: 4em;
}

.phone-input{
    width: 75%;
    min-height: 50px;
    margin: 5% auto;
}
.code{
    width: 75%;
    margin: 5% auto;
    min-height: 50px;
}

.code input{
    height: 4em;
    width: 41%;
    margin: 0 auto;
    display: block;
    font-size: 1em;
    border: 1px solid #e2e2e2;
    border-radius: 10px;
    padding: 0 5%;
    float: left;
    line-height: 4em;
}
.code-btn{
    font-size: 1em;
    float: right;
    width: 38%;
    background: #495AFF;
    line-height: 4em;
    border-radius: 10px;
    text-align: center;
    height: 4em;
}
.code-btn-ing{
    background: #acafad;
    color: white;
}
.error-msg{
    text-align: center;
    color: red;
    font-size: 1em;
}
.login-btn{
    width: 75%;
    height: 4em;
    border-radius: 10px;
    line-height: 4em;
    text-align: center;
    color: white;
    background-image: linear-gradient(-225deg, #F43B47 0%, #495AFF 100%);
    font-size: 1em;
    margin: 0 auto;
    min-height: 50px;
}
.navlist {
	position: absolute;
	background: #f1f1f1;
	top: 49px;
	width: 100%;
	height: 150px;
	z-index: 999;
}

.mask {
	position: absolute;
	top: 50px;
	filter: alpha(opacity = 60);
	background-color: #777;
	z-index: 1002;
	left: 0px;
	opacity: 0.5;
	-moz-opacity: 0.5;
}


.login-other{
    margin-top: 5%;
}
.btn{
/*    width: 65%;
    height: 60%;*/
    margin: 0 auto;
    padding: 0.5em 0;
    border-bottom: 1px solid #eee;


}
.division{
    width: 65%;
    height: 2em;
    background: url("../images/user/fenge.png") no-repeat;
    background-size: 100% auto;
    margin: 0 auto;
}
.btn-qq{
    width: 4em;
    height: 4em;
    background: url("../images/user/ic_qq_50.png") no-repeat;
    background-size: contain;
    margin-left: 55%;
}
.btn-wx{
    width: 4em;
    height: 4em;
    background: url("../images/user/ic_wx_50.png") no-repeat;
    background-size: contain;
    margin-left: 25%;
    float: left;
}
.isNotWx{
    display: none;
}
.isNotQq{
    margin: 0 auto;
    float: none;
}

.app-download{
    min-height: 230px;
}
.app-download-btn{
    font-size: 0.8em;
    margin-left: 17.5%;
    margin-top: 8%;
    margin-bottom: 8%;
    margin-right: 17.5%;
    background: #495AFF;
    border-radius: 5px;
    line-height:4em;
}
.app-download img{
    display: block;
    margin: 0 auto;
    width: 60%;
}
      
.qrcode{
    width: 50%;
    margin-top: 50%;
}

.login-ed{
    width: 80%;
    height: 100%;
    overflow: auto;
    padding-top: 5%;
    text-align: center;
    line-height: 1.5em;
    font-size: 2em;
    background: white;
    position: relative;
    z-index: 10;
}

.icon-count{
    position: absolute;
    left: 1.7em;
    height: 1.5em;
    line-height: 1.5em;
}






.user-info .login-page .login-ed
{
    width: 80%;
    height: 100%;
    overflow: auto;
    padding-top: 5%;
    text-align: center;
    line-height: 1.5em;
    font-size: 2em;
    background: white;
    position: relative;
    z-index: 10;

}.user-info .login-page .login-ed .qiutBtn
{
    position: absolute;
    top: 0.4em;
    right: 0.4em;

    width: 2em;
    height: 1em;

    background: red;
    background: url('/images/user/exit.png') no-repeat;
    background-position: 50%;
    background-size: contain;
}.user-info .login-page .login-ed .setBtn
{
    position: absolute;
    top: 0.4em;
    left: 0.4em;

    width: 1em;
    height: 1em;

    background: red;
    background: url('/images/user/set.png') no-repeat;
    background-size: contain;
}.user-info .login-page .login-ed .avatar
{
    overflow: hidden;

    width: 4em;
    height: 4em;
    margin: 1em auto;
    border-radius: 4em;
}.user-info .login-page .login-ed .avatar img
{
    width: 100%;
}.user-info .login-page .login-ed .name
{
    font-size: 1em;
}.user-info .login-page .login-ed .myMoney
{
    width: 90%;
    margin: 0 auto;

    border-top: 1px solid #e7e4e4;
    border-bottom: 1px solid #e7e4e4;
}.user-info .login-page .login-ed .myMoney .gold,
.user-info .login-page .login-ed .myMoney .jifen,
.user-info .login-page .login-ed .myMoney .zuanshi
{
    height: 1.5em;
    margin: 0.15em;
}.user-info .login-page .login-ed .myMoney .gold div,
.user-info .login-page .login-ed .myMoney .jifen div,
.user-info .login-page .login-ed .myMoney .zuanshi div
{
    line-height: 1.5em;

    float: left;
}.user-info .login-page .login-ed .myMoney .gold .icon,
.user-info .login-page .login-ed .myMoney .jifen .icon,
.user-info .login-page .login-ed .myMoney .zuanshi .icon
{
    width: 1.5em;
    height: 1.5em;

    background: url('/images/user/gold.png') no-repeat;
    background-size: contain;
}.user-info .login-page .login-ed .myMoney .gold .count,
.user-info .login-page .login-ed .myMoney .jifen .count,
.user-info .login-page .login-ed .myMoney .zuanshi .count
{
    font-size: 1em;
    font-weight: 700;

    margin-left: 0.2em;
}.user-info .login-page .login-ed .myMoney .gold .btn,
.user-info .login-page .login-ed .myMoney .jifen .btn,
.user-info .login-page .login-ed .myMoney .zuanshi .btn
{
    font-size: 1em;

    float: right;

    width: 4em;
    height: 1em;
    line-height: 1em;
    border-radius: 0.2em;
    background: #ebff00;
}.user-info .login-page .login-ed .myMoney .gold .icon
{
    background: url('/images/user/gold.png') no-repeat;
    background-size: contain;
}.user-info .login-page .login-ed .myMoney .gold .btn
{
    background: #ebff00;
}.user-info .login-page .login-ed .myMoney .zuanshi .icon
{
    background: url('/images/gold.png') no-repeat;
    background-size: contain;
}.user-info .login-page .login-ed .myMoney .zuanshi .btn
{
    background: #00ff8b;
}.user-info .login-page .login-ed .myMoney .jifen .icon
{
    background: url('http://m.wxqing.cn/static/image/jifen.png') no-repeat;
    background-size: contain;
}.user-info .login-page .login-ed .myMoney .jifen .btn
{
    color: #fff;;
    background: #2f0233;
}.user-info .login-page .login-ed .change,
.user-info .login-page .login-ed .history,
.user-info .login-page .login-ed .home,
.user-info .login-page .login-ed .msg
{
    width: 90%;
    height: 1em;
    margin: 0 auto;
    padding: 0.5em 0 ;

    border-bottom: 1px solid #e7e4e4;
}.user-info .login-page .login-ed .change .icon,
.user-info .login-page .login-ed .history .icon,
.user-info .login-page .login-ed .home .icon,
.user-info .login-page .login-ed .msg .icon
{
    float: left;

    width: 1em;
    height: 1em;
    margin-left: 0.15em;
    background: url('http://m.wxqing.cn/static/image/history.png') no-repeat;
    background-size: contain;
}.user-info .login-page .login-ed .change .text,
.user-info .login-page .login-ed .history .text,
.user-info .login-page .login-ed .home .text,
.user-info .login-page .login-ed .msg .text
{
    line-height: 1.6em;

    float: left;
    font-size: 0.6em;
    margin-left: 0.3em;
}.user-info .login-page .login-ed .home .icon
{
    background: url('http://m.wxqing.cn/static/image/home.png') no-repeat;
    background-size: contain;
}.user-info .login-page .login-ed .change .icon
{
    background: url('http://m.wxqing.cn/static/image/duihuan.png') no-repeat;
    background-size: contain;
}.user-info .login-page .login-ed .msg .icon
{
    background: url('http://m.wxqing.cn/static/image/msg.png') no-repeat;
    background-size: contain;
}.user-info .login-page .login-ed .no-phone
{
    margin-top: 5%;
}.user-info .login-page .login-ed .no-phone .phone-input input
{
    font-size: 2em;
    line-height: 1em;

    display: block;

    width: 60%;
    height: 1em;
    margin: 0 auto;
    margin-top: 1.33em;;
    padding: 0 1.33em;

    border: 1px solid #e2e2e2;
    border-radius: 6.65em;
}.user-info .login-page .login-ed .no-phone .code
{
    width: 65%;
    height: 1.5em;
    margin: 1.33em auto;
}.user-info .login-page .login-ed .no-phone .code input
{
    font-size: 2em;
    line-height: 1em;

    display: block;
    float: left;;

    width: 40%;
    height: 1em;
    margin: 0 auto;
    padding: 0 1.33em;

    border: 1px solid #e2e2e2;
    border-radius: 6.65em;
}.user-info .login-page .login-ed .no-phone .code .code-btn
{
    font-size: 1.33em;
    line-height: 1.5em;

    float: right;

    width: 11.33em;
    height: 1em;

    text-align: center;;

    border-radius: 6.65em;
    background: #79f1a4;
}.user-info .login-page .login-ed .no-phone .code .code-btn-ing
{
    color: #fff;;
    background: #acafad;
}.user-info .login-page .login-ed .no-phone .error-msg
{
    font-size: 12px;;

    text-align: center;

    color: red;
}.user-info .login-page .login-ed .no-phone .login-btn
{
    font-size: 2em;
    line-height: em;

    width: 45%;
    height: 1em;
    margin: 0 auto;

    text-align: center;

    color: #fff;
    border-radius: 6.65em;
    background: #2f0233;
}.user-info .login-page .download
{
    margin: 0 auto;
}.user-info .login-page .download img
{
    display: block;

    width: 60%;
    margin: 0 auto;
}.user-info .login-page .download .btn
{
    font-size: 1.75em;

    width: 50%;
    margin: 3.33em auto;

    border-radius: 5px;;
    background: #63f798;
}.user-info .login-page .download .qrcode
{
    width: 30%;
    margin-top: 3.33em;
}.user-info .login-page-show
{
    -webkit-transition: -webkit-transform .3s ease;
            transition: -webkit-transform .3s ease;
            transition:         transform .3s ease;
            transition:         transform .3s ease,-webkit-transform .3s ease;;
    -webkit-transform: translateX(0);
            transform: translateX(0);
}.login-loading
{
    font-size: 2.67em;
    line-height: 65%;

    position: fixed;
    z-index: 200;;

    width: 100%;
    height: 100%;

    text-align: center;

    background: #fff;
}