.Bottom-Link{
	position: fixed;
	bottom: 0;
	left: 0;
	width: 100%;
	z-index: 10;
}

.Bottom-Link-close{
	display: none;
}
.bottom-close{
	height: 90%;
	width: 10%;
	position: absolute;
	right: 0;
	bottom: 0;
	z-index: 10;
}
.alert {
	position: fixed;
	left: 0;
	top: 0;
	height: 100%;
	width: 100%;
	background: rgba(0, 0, 0, 0.3);
}
.qr {
	width: 50px;
	margin: 0 auto;
	margin-top: 50px;
}
.open-close {
	width: 80px;
	margin: 80px auto;
}

.activity-Login{
	 position: fixed;
	 left: 0;
	 top: 0;
	 height: 100%;
	 width: 100%;
	 z-index: 101;
	 background: rgba(0,0,0,0.5);
	 overflow: auto;
 }

 .activity-Login-close{
 	display: none;
 }


.postion-bottom{
	position: absolute;
	width: 100%;
	bottom: 16em;
}



.alert-bg{
	margin: 0 auto;
	background: #252845;
	padding: 1em 0;
	position: relative;
	width: 80%;
}

.bottom-name{
	font-size: 2em;
	text-align: center;
	font-weight: bold;
	color: #B1BAEE;
}

.downLoad{
	width: 80%;
	margin: 0 auto;
	line-height: 2.5em;
	height: 2.5em;
	text-align: center;
	font-size: 1.2em;
	color: #FFFFFF;
	background-image: linear-gradient(-225deg, #F43B47 0%, #495AFF 100%);
	border-radius: 100px;
	font-weight: 400;
	margin-top: 0.2em;
}

.getBox{
   position: relative;
   margin: 2em auto;
   width: 87%;
}


.get{
	width: 13.5em;
	height: 4.5em;
}

.getBtn{
	width: 4.5em;
	height: 4.5em;
	position: absolute;
	right: 0;
	top: 0;
}	

.alert-bg-img{
	width: 100%;
	display: block;
}

.tip{
	width: 80%;
	font-size: 1em;
	margin: 0 auto;
    color: #B1BAEE;
}

.close{
	width: 3.5em;
	height: 3.5em;
	position: absolute;
	left: 50%;
	bottom: -5em;
	background: url("../images/bottom/bottom-close.png") no-repeat;
	background-size: contain;
	margin: auto -1.25em ;
}

.login-loading{
	position: fixed;
	height: 100%;
	width: 100%;
	background: white;
	text-align: center;
	font-size: 2em;
	line-height: 2em;
	z-index: 200;
}