#Home{
	position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    -webkit-box-orient: vertical;
    box-orient: vertical;
    -webkit-flex-direction: column;
    flex-direction: column;
    background-color: #252845;
}.room{
	background-color: #252845;
}.room-top{
	position: relative;
	background-image: linear-gradient(-225deg, #495AFF 0%, #F43B47 100%);
}.room-content{
    font-size: .26667rem;
    -webkit-box-flex: 1;
    -webkit-flex: 1;
    -ms-flex: 1;
    flex: 1;
    background-color: #252845;
    overflow-y: scroll;
    -webkit-overflow-scrolling: touch;
    border-bottom: none;
}.room-title{
	position: relative;
    height: 1.06667rem;
}.room-top .detail .left {
	float: left;
    width: 40%;
    color: #fff;
}.room-top .detail img{
    display: block;
    width: 50%;
    margin: 0 auto;
    border-radius: .33333rem;
}.room-top .detail .team-name{
	margin-top: .13333rem;
    text-align: center;
    font-size: 0.366667rem;
}.room-top .detail .center{
	float: left;
    width: 20%;
    color: #fff;
}.room-top .detail .center .VS{
    font-size: 1.2333rem;
    margin-top: .13333rem;
}.room-top .detail .center .score{
    color: #B1BAEE;
    margin-top: .13333rem;
    font-size: 0.444444rem;
}.room-top .detail .right{
	float: right;
    width: 40%;
    color: #fff;
}.room-top .detail .center div{
	text-align: center;
}.room-top .detail .center .VS, .room-top .detail .center .score {
   	line-height: 1.23333rem;
    overflow: hidden;
}.room-top .time{
	text-align: center;
    color: #B1BAEE;
    font-size: 0.266667rem;
    line-height: 0.83333rem;
    height: 0.83333rem;
}.room-top .vote{
    clear: both;
    width: 100%;
    height: 1rem;
    padding-top: .266667rem;
    padding-bottom: .266667rem;
}.room-top .vote .vote-left{
    float: left;
    width: 50%;
}.room-top .vote .vote-right{
    float: right;
    width: 50%;
}.room-top .vote .left-bg{
    width: 90%;
    background: #495AFF;
    float: right;
    border-radius: 40px 0 0 40px;
}.room-top .vote .right-bg{
	width: 90%;
    background: #F43B47;
    height: 0.8333rem;
    float: left;
    text-align: center;
    border-radius: 0 40px 40px 0;
    color: #fff;
    text-align: right;
    padding: 0 .25rem 0 0;
    box-sizing: border-box;
}.room-top .vote .rate{
    text-align: center;
    line-height: .83333rem;
    height: .83333rem;
    color: #fff;
    font-size: .34444rem;
    width: 100%;
}.room-top .vote .icon{
	position: absolute;
    display: block;
    width: .83333rem;
    height: .83333rem;
    background: url(/images/ic_appreciate_fill_24dp.png) no-repeat;
    background-position: 50%;
    background-size: 50%;
}.room-top .vote .vote-left .icon{
	left:0;
	margin-left: 5%;
}.room-top .vote .vote-right .icon{
	margin-right: 5%;
    right: 0;
}ul, ol {
    list-style: none;
}
em, i {
    font-style: normal;
}
.room .room_gscord {
    height: 4.22rem;
    overflow: hidden;
    /*position: fixed;*/
    top: 0;
    width: 100%;
    background-image: url("/images/match/lol_bg.png");
    background-repeat: no-repeat;
    background-size: 100%;
}
.room .room-tv {
    float: left;
    width: 100%;
}
.room .room-tv .room-tv-videolist {
    float: left;
    width: 100%;
    height: 0.6rem;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    padding: 0 0.4rem 0 0.8rem;
    display: none;
}
.room .room-tv ul.room-tv-videolist {
    width: 100%;
    float: left;
    text-align: center;
    overflow: hidden;
    margin: 0.2rem 0 0 0;
    display: flex;
    box-sizing: border-box;
}
.room ul.room-tv-videolist li {
    float: left;
    flex: 1;
    height: 0.6rem;
    line-height: 0.6rem;
    -webkit-flex: 1;
    -webkit-box-flex: 1;
    background: #F43B47;
    color: #fff;
    text-align: center;
    cursor: pointer;
    margin: 0 0.1rem 0 0;
}
.room ul.room-tv-videolist li:nth-last-of-type(1) {
    border-radius: 0;
    margin: 0;
}
.room .room-tv .room-tv-player {
    float: left;
    width: 100%;
    height: 3.4rem;
    padding: 0 0.4rem 0 0.8rem;
    box-sizing: border-box;
}
.room .room_gscord div:nth-child(1) {
    /*position: fixed;*/
    left: 0;
    top: 20px;
    z-index: 999999;
}
.room .room_gscord div:nth-child(1) img {
    width: 0.7rem;
    height: 0.7rem;
}
.room .room-tv .room-tv-player .room-tv-player-wait,
.room .room-tv .room-tv-player .room-tv-player-notv {
    float: left;
    width: 100%;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
}
.room .room-tv .room-tv-player .room-tv-player-wait i:nth-child(1),
.room .room-tv .room-tv-player .room-tv-player-notv i:nth-child(1) {
    float: left;
    width: 1.2rem;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    -webkit-transform: translateX(-50%);
    background: url(/images/match/room-player-logo.png) no-repeat 0 0;
    height: 1.2rem;
    text-align: center;
    margin: 0 0 0.2rem;
    background-size: 100% 100%;
}
.room .room-tv .room-tv-player .room-tv-player-wait i:nth-child(2),
.room .room-tv .room-tv-player .room-tv-player-notv i:nth-child(2) {
    float: left;
    width: 100%;
    height: 1rem;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    -webkit-transform: translateX(-50%);
    line-height: 50px;
    color: #21a900;
    font-size: 14px;
    text-align: center;
    box-sizing: border-box;
}
.room .room-tv .room-tv-player .room-tv-player-wait i:nth-child(2):before {
    content: "距离本场比赛直播开始还有一段时间,请稍等!";
}
.room .room-tv .room-tv-videolist .room-tv-videolist-click {
    color: #fff;
    background: #df3031;
}
.room .room_gscord dt {
    font-size: 18px;
    color: #fff;
    text-align: center;
    float: left;
    width: 100%;
    margin: 0.2rem 0 0.1rem;
    line-height: 0.8rem;
}
.room .room_gscord dd {
    float: left;
    width: 100%;
}
.room .room_gscord dd i {
    color: #fff;
    float: left;
    text-align: center;
    width: 100%;
    /*font-size: 12px;*/
}
.room .room_gscord dt i:nth-of-type(1) {
    float: left;
}
.room .room_gscord dt i:nth-of-type(3) {
    float: right;
    margin: 0 0.1rem 0 0;
}
.room .room_gscord dt i img {
    width: 0.7rem;
    height: 0.7rem;
}
.room .room_gscord dd p {
    float: left;
    width: 100%;
    ;
    padding: 0 0.4rem;
    margin: 0.1rem 0 0 0;
}
.room .room_gscord dd p i {
    float: left;
    width: 100%;
}
.room .room_gscord dd p i:nth-child(1),
.room .room_gscord dd p i:nth-child(3) {
    width: 1.2rem;
    border-radius: 100%;
    background-color: #fff;
    height: 1.2rem;
}
.room .room_gscord dd p i:nth-child(2) {
    color: #F43B47;
    /*font-size: 12px;*/
    width: 58%;
}
.room .room_gscord dd p i:nth-child(2) b {
    color: #fff;
    font-size: 22px;
    width: 58%;
    line-height: 0.6rem;
    font-weight: normal;
}
.room .room_gscord dd p i:nth-child(1) img,
.room .room_gscord dd p i:nth-child(3) img {
    width: 1.2rem;
    border-radius: 100%;
    background-color: #fff;
    height: 1.2rem;
    margin-bottom: 5px;
}
.room .room_gscord dd p i:nth-child(1) > b,
.room_gscord dd p i:nth-child(3) > b {
    font-weight: normal;
    font-size: 14px;
}
.room .room_gscord dd > i:nth-child(3) {
    width: 100%;
    margin: 0.1rem 0;
}
.room .room_gscord dd i:nth-child(2) > i {
    color: #F43B47;
    /*font-size: 12px;*/
}
.room .room_gscord dd > i:nth-child(3) img {
    width: 2.4rem;
    height: 0.6rem;
}
.room .room_gscord dd:nth-of-type(2) {
    display: flex;
    color: #fff;
    height: 0.55rem;
    line-height: 0.55rem;
    padding: 0 0.2rem;
    box-sizing: border-box;
    margin-top: 0.1rem;
    position: absolute;
    bottom: 0.2rem;
    left: 0;
}
.room .room_gscord dd:nth-of-type(2) i {
    flex: 1;
    -webkit-flex: 1;
}
.room .room_gscord dd:nth-of-type(2) i:nth-child(1) {
    border-radius: 40px 0 0 40px;
    background-color: #2682e1;
    color: #fff;
    text-align: left;
    padding: 0 0 0 0.25rem;
    box-sizing: border-box;
}
.room .room_gscord dd:nth-of-type(2) i:nth-child(2) {
    border-radius: 0 40px 40px 0;
    background-color: #d03232;
    color: #fff;
    text-align: right;
    padding: 0 0.25rem 0 0;
    box-sizing: border-box;
}
.room .renovate {
    float: left;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    display: none;
}
.room .renovate p {
    text-align: center;
    /*font-size: 12px;*/
    color: #F43B47;
}
.room_bet_list {
    overflow: hidden;
    padding-bottom: 0.2rem;
    width: 100%;
    font-size: .3333rem;
}
.room-bet {
    float: left;
    width: 7.1rem;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    -webkit-transform: translateX(-50%);
    -o-transform: translateX(-50%);
    text-align: center;
    border: 1px solid #fff;
    margin: 0.2rem 0 0 0;
    height: 0.6rem;
    line-height: 0.6rem;
    background-color: #fdf9f1;
    border-radius: 5px;
    /*font-size: 12px;*/
    padding: 0 0.2rem;
    box-sizing: border-box;
}
.room-bet i {
    color: #fff;
}
.room-bet i.end {
    color: #da3232;
}
.room-bet i img {
    float: left;
    width: 2rem;
    height: 100%;
    padding: 0.2rem 0;
    cursor: pointer;
    box-sizing: border-box;
}
.room-bet i:nth-child(1) {
    float: left;
}
.room-bet i:nth-child(2) {
    color: #d03232;
}
.room-bet i:nth-child(3) {
    float: right;
}
.room_bet_list ul {
    width: 100%;
    float: left;
    text-align: center;
    padding: 0 0.2rem;
    overflow: hidden;
    margin: 0.2rem 0 0 0;
    display: flex;
    box-sizing: border-box;
}
.room_bet_list ul li {
    float: left;
    flex: 1;
    height: 0.6rem;
    line-height: 0.6rem;
    -webkit-flex: 1;
    -webkit-box-flex: 1;
    color: #fff;
    text-align: center;
    cursor: pointer;
    margin: 0 0.1rem 0 0;
    border-radius: .10667rem;
    border: 1px solid #2682e1;
}
.room ul li span {
    /*font-size: 12px;*/
}
.room_bet_list ul li.room-bet-menu-1.room_bet_1_click {
    color: #fff;
    background: #2682e1;
}
.room_bet_list ul li.room-bet-menu-0.room_bet_1_click {
    color: #fff;
    background: #2682e1;
}
.room ul li.room_bet_0_click {
    color: #fff;
    background: #d03232;
}
.room_bet_list ul li.room-bet-menu-0.room_bet_1_click_1 {
    border-radius: 5px 5px 5px 5px;
}
.room dl:nth-of-type(1) {
    overflow: hidden;
    background-color: #252845;
}
.room dl:nth-of-type(3) dd{
    padding-left: 0.15rem;
}
.room dl:nth-of-type(4) dd{
    padding-left: 0.15rem;
}
.room dl:nth-of-type(5) dd{
    padding-left: 0.15rem;
}
.room .room_bet_lists {
    overflow: hidden;
    background-color: #252845;
    margin: .266667rem;
    border-bottom: 1px solid #bbbbbb21;
}
.room_bet_lists dt {
    float: left;
    width: 100%;
    height: 1.03333rem;
    line-height: 1.03333rem;
    box-sizing: border-box;
    overflow: hidden;
}
.room_bet_lists dt b {
    float: left;
    color: #B1BAEE;
    font-weight: normal;
    font-size: .26667rem;
}
.room_bet_lists dt i {
    float: left;
    width: auto;
    height: 0.3rem;
    color: #2682e1;
    margin: 0 0.1rem 0 0;
    /*font-size: 12px;*/
}
.room_bet_lists dt i img {
    width: 0.3rem;
    height: 0.3rem;
    margin: -3px 2px 0 0;
}
.room_bet_lists dd {
    float: left;
    width: 100%;
    overflow: hidden;
    box-sizing: border-box;
}
.room dl:nth-of-type(1) dd {
    margin: 0 .266667rem .266667rem 0;
}
.room dl:nth-of-type(2) dd {
    margin: 0 .266667rem .266667rem 0;
}
.room dl:nth-of-type(1) dd p {
    float: left;
    height: 1.2rem;
    margin: 0 0.1rem 0.2rem 0;
    background-color: #252845;
    box-sizing: border-box;
    cursor: pointer;
    border: 1px solid #2682e1;
    border-radius: 8px;
    padding: 0 0 10px;
}
.room dl:nth-of-type(3) dd p:nth-child(3n),
.room dl:nth-of-type(4) dd p:nth-child(3n),
.room dl:nth-of-type(5) dd p:nth-child(3n),
.room dl:nth-of-type(6) dd p:nth-child(3n),
.room dl:nth-of-type(7) dd p:nth-child(3n) {
    margin-right: 0;
}
.room_bet_lists dd p i,
.room_bet_lists dd p b {
    float: left;
    width: 100%;
    text-align: center;
}
.room_bet_lists dd p i:nth-child(1) {
    font-size: .33333rem;
    color: #fff;
    padding: 0.2333rem 0 0 0;
}
.room_bet_lists dd p b {
    color: #F43B47;
    font-weight: normal;
}
.room dl dd p {
    float: left;
    height: 1.2rem;
    margin: 0 0.1rem 0.2rem 0;
    background-color: #252845;
    box-sizing: border-box;
    cursor: pointer;
    border: 1px solid #2682e1;
    border-radius: 8px;
    padding: 0 0 10px;
}
.room dl:nth-of-type(3) dd p b,
.room dl:nth-of-type(4) dd p b,
.room dl:nth-of-type(5) dd p b,
.room dl:nth-of-type(6) dd p b,
.room dl:nth-of-type(7) dd p b {
    /*font-size: 12px;*/
    color: #F43B47;
}
.room dl:nth-of-type(2) dd p i:nth-child(1),
.room dl:nth-of-type(3) dd p i:nth-child(1),
.room dl:nth-of-type(4) dd p i:nth-child(1),
.room dl:nth-of-type(5) dd p i:nth-child(1),
.room dl:nth-of-type(6) dd p i:nth-child(1),
.room dl:nth-of-type(7) dd p i:nth-child(1) {
    font-size: .33333rem;
    color: #fff;
    padding: 0.2333rem 0 0 0;
}
.room dl:nth-of-type(2) dd p i:nth-child(2),
.room dl:nth-of-type(3) dd p i:nth-child(2),
.room dl:nth-of-type(4) dd p i:nth-child(2),
.room dl:nth-of-type(5) dd p i:nth-child(2),
.room dl:nth-of-type(6) dd p i:nth-child(2),
.room dl:nth-of-type(7) dd p i:nth-child(2) {
    font-size: 0.2333rem;
    color: #F43B47;
}
.room .room-bet-p-3 {
    width: 2.3rem;
}
.room .room-bet-p-2 {
    width: 32%;
}
.room dl:nth-of-type(2) dd p.room-bet-p-2:nth-last-of-type(1),
.room dl:nth-of-type(3) dd p.room-bet-p-2:nth-last-of-type(1),
.room dl:nth-of-type(4) dd p.room-bet-p-2:nth-last-of-type(1),
.room dl:nth-of-type(5) dd p.room-bet-p-2:nth-last-of-type(1),
.room dl:nth-of-type(6) dd p.room-bet-p-2:nth-last-of-type(1),
.room dl:nth-of-type(7) dd p.room-bet-p-2:nth-last-of-type(1) {
    /*margin: 0 0 0 0.2rem;*/
}
.room dl:nth-of-type(3) dd p.room-bet-p:nth-of-type(2),
.room dl:nth-of-type(4) dd p.room-bet-p:nth-of-type(2) {
    margin: 0 0 0.2rem 0.2rem;
}
.room dl:nth-of-type(3) dd p.room-bet-b:nth-of-type(4) {
    margin: 0 0 0 0.3rem;
}
.room .room-bet-win-0,
.room .room-bet-win-1,
.room .room-bet-win--1,
.room .room-bet-win--2 {
    background-position: right 0;
    background-repeat: no-repeat;
    background-size: 18px 24px;
}
.room .room-bet-win-0.room-bet-my {
    background-image: url(/images/match/win-0.png);
}
.room .room-bet-win-1.room-bet-my {
    background-image: url(/images/match/win-1.png);
}
.room .room-bet-win--1.room-bet-my {
    background-image: url(/images/match/win--1.png);
}
.room .room-bet-win--2.room-bet-my {
    background-image: url(/images/match/win--2.png);
}
/*.room .room-bet-win-0 {
    border: 2px #fff solid;
}*/
.room .room-bet-win-0 i {
    color: #fff;
}

.room dl dd p.room-bet-win {
    background-color: #2682e1;
}
.room .room-bet-win-0 b,
.room .room-bet-win-1 b {
    color: #F43B47;
    font-size: .33333rem;
}
.room dl:nth-of-type(2) dd p.room-bet-win--1,
.room dl:nth-of-type(2) dd p.room-bet-win--2 {
    border: 2px #ccc solid;
}
.room .room_bet_lists dd p.room-bet-win--1 i,
.room .room_bet_lists dd p.room-bet-win--1 b,
.room .room_bet_lists dd p.room-bet-win--2 i,
.room .room_bet_lists dd p.room-bet-win--2 b {
    color: #ccc;
}
.room .room-bet dl dd p:hover i,
.room .room-bet dl dd p:hover b {
    color: #fff;
}
.room dl:nth-of-type(2).room_bet_lists dd p.room-bet-win--1 i,
.room dl:nth-of-type(2).room_bet_lists dd p.room-bet-win--1 b,
.room dl:nth-of-type(2).room_bet_lists dd p.room-bet-win--2 i,
.room dl:nth-of-type(2).room_bet_lists dd p.room-bet-win--2 b,
.room dl:nth-of-type(3).room_bet_lists dd p.room-bet-win--1 i,
.room dl:nth-of-type(3).room_bet_lists dd p.room-bet-win--1 b,
.room dl:nth-of-type(3).room_bet_lists dd p.room-bet-win--2 i,
.room dl:nth-of-type(3).room_bet_lists dd p.room-bet-win--2 b,
.room dl:nth-of-type(4).room_bet_lists dd p.room-bet-win--1 i,
.room dl:nth-of-type(4).room_bet_lists dd p.room-bet-win--1 b,
.room dl:nth-of-type(4).room_bet_lists dd p.room-bet-win--2 i,
.room dl:nth-of-type(4).room_bet_lists dd p.room-bet-win--2 b,
.room dl:nth-of-type(5).room_bet_lists dd p.room-bet-win--1 i,
.room dl:nth-of-type(5).room_bet_lists dd p.room-bet-win--1 b,
.room dl:nth-of-type(5).room_bet_lists dd p.room-bet-win--2 i,
.room dl:nth-of-type(5).room_bet_lists dd p.room-bet-win--2 b,
.room dl:nth-of-type(6).room_bet_lists dd p.room-bet-win--1 i,
.room dl:nth-of-type(6).room_bet_lists dd p.room-bet-win--1 b,
.room dl:nth-of-type(6).room_bet_lists dd p.room-bet-win--2 i,
.room dl:nth-of-type(6).room_bet_lists dd p.room-bet-win--2 b,
.room dl:nth-of-type(7).room_bet_lists dd p.room-bet-win--1 i,
.room dl:nth-of-type(7).room_bet_lists dd p.room-bet-win--1 b,
.room dl:nth-of-type(7).room_bet_lists dd p.room-bet-win--2 i,
.room dl:nth-of-type(7).room_bet_lists dd p.room-bet-win--2 b {
    color: #ccc;
}
.room dl:nth-of-type(2) dd p.room-bet-win--1,
.room dl:nth-of-type(2) dd p.room-bet-win--2,
.room dl:nth-of-type(3) dd p.room-bet-win--1,
.room dl:nth-of-type(3) dd p.room-bet-win--2,
.room dl:nth-of-type(4) dd p.room-bet-win--1,
.room dl:nth-of-type(4) dd p.room-bet-win--2,
.room dl:nth-of-type(5) dd p.room-bet-win--1,
.room dl:nth-of-type(5) dd p.room-bet-win--2,
.room dl:nth-of-type(6) dd p.room-bet-win--1,
.room dl:nth-of-type(6) dd p.room-bet-win--2,
.room dl:nth-of-type(7) dd p.room-bet-win--1,
.room dl:nth-of-type(7) dd p.room-bet-win--2 {
    border: 2px #ccc solid;
}
.room dl:nth-of-type(3) dd p.room-bet-win-1,
.room dl:nth-of-type(4) dd p.room-bet-win-1,
.room dl:nth-of-type(5) dd p.room-bet-win-1,
.room dl:nth-of-type(6) dd p.room-bet-win-1,
.room dl:nth-of-type(7) dd p.room-bet-win-1 {
    border: 2px #df3031 solid;
}
.room dl:nth-of-type(3) dd p.room-bet-win-1 i,
.room dl:nth-of-type(4) dd p.room-bet-win-1 i,
.room dl:nth-of-type(5) dd p.room-bet-win-1 i,
.room dl:nth-of-type(6) dd p.room-bet-win-1 i,
.room dl:nth-of-type(7) dd p.room-bet-win-1 i {
    color: #d03232;
}
.room dl.room_bet_lists dt i.room-bet-0,
.room dl.room_bet_lists dt i.room-bet-2,
.room dl.room_bet_lists dt i.room-bet-3 {
    color: #df3031;
}
.room dl.room_bet_lists dt i.room-bet-1 {
    color: #2682e1;
}
.room dl.room_bet_lists dt i.room-bet-0:after,
.room dl.room_bet_lists dt i.room-bet-2:after {
    content: "已封盘";
}
.room dl.room_bet_lists dt i.room-bet-1:after {
    content: "可下注";
}
.room dl.room_bet_lists dt i.room-bet-3:after {
    content: "已开奖";
}
.room dl.room_bet_lists dt i.room-bet-0 img,
.room dl.room_bet_lists dt i.room-bet-2 img,
.room dl.room_bet_lists dt i.room-bet-3 img {}