.ShopList
{
    background: #252845;
}.ShopList:after
{
    display: block;
    clear: both;

    content: '';
}.ShopList .listNav
{
    width: 100%;

    background: #1F2038;
}.ShopList .listNav .nav
{
    width: 95%;
    height: .9rem;
    margin: .01667rem auto;
    margin-bottom: .53333rem;
    font-size: 0.38333rem;
}.ShopList .listNav .nav-btn
{
    line-height: .8rem;

    float: left;

    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    width: 20%;

    text-align: center;

    color: #4B5B91;
    background: #1F2038;
}.ShopList .listNav .nav-btn-select
{
    color: #495AFF;
    border-bottom: 3px solid #495AFF;
}.ShopList .listNav-top
{
    position: fixed;
    top: 0;
    left: 0;
}.ShopList .list
{
    float: left;

    width: 50%;
    padding-bottom: .26667rem;
}.ShopList .list .border
{
    width: 4.4rem;
    margin: 0 auto;

    text-align: center;
}.ShopList .list .border .img-box
{
    padding: 1px;
    position: relative;
}.ShopList .list .border .img-box .img
{
    width: 4.34667rem;
    height: 4.34667rem;
}.ShopList .list .border .img-box .img .huiIN{
    visibility: visible;
    opacity: 1;
    position: absolute;
    z-index: 99;
    background: rgba(0,0,0,.8);
    bottom: 0px;
    width: 100%;
}.ShopList .list .border .name
{
    font-size: .37333rem;
    line-height: .42667rem;
    overflow: hidden;
    height: .42667rem;
    margin-top: .16667rem;
    margin-left: .16667rem;
    color: #fff;
    text-align: left;
}.ShopList .list .border .money
{
    font-size: .27333rem;
    height: .42667rem;
    line-height: .42667rem;
    padding-left: .16667rem;
    padding-bottom: .16667rem;
    float: left;
    color: #FFAB13;
}.ShopList .list .border .money span
{
    font-size: .34667rem;

    vertical-align: top;
}.ShopList .list .border .count{
    font-size: .27333rem;
    height: .42667rem;
    line-height: .42667rem;
    padding-right: .16667rem;
    padding-bottom: .16667rem;
    float: right;
    color: #acafad
}.ShopList .list .border .btn
{
    line-height: .53333rem;

    width: 4rem;
    height: .53333rem;
    margin: .13333rem auto;;

    background: #0af2ff;
}.Detail
{
    position: fixed;
    top: 0;
    left: 0;

    width: 100%;
    height: 100%;

    background: #2f0233;
}.Detail,
.Detail input
{
    text-align: center;;

    color: #fff;
}.Detail input
{
    font-size: .45333rem;;

    background: #441c48;
}.Detail ::-webkit-input-placeholder
{
    color: #fff;
}.Detail .close
{
    position: absolute;
    top: 0;
    right: 0;

    width: 1.06667rem;
}.Detail .detailImg
{
    display: block;

    width: 3.33333rem;
    margin: 0 auto;
    margin-top: 1.33333rem;
}.Detail .name
{
    font-size: .4rem;;
    line-height: 1.06667rem;

    height: 1.06667rem;
}.Detail .description
{
    padding: .26667rem;

    color: #999;
}.Detail .phone,
.Detail .qq
{
    margin-top: .26667rem;
}.Detail .phone input,
.Detail .qq input
{
    width: 9.33333rem;;
    height: 1.06667rem;
}.Detail .info
{
    font-size: .21333rem;
    line-height: .8rem;;

    color: #999;
}.Detail .ruleBtn
{
    height: 1.06667rem;;

    color: #00f2ff;
}.Detail .ruleBtn,
.Detail .stock-limit
{
    line-height: .8rem;
}.Detail .stock-limit .number
{
    color: #00f2ff;
}.Detail .count
{
    height: 1.06667rem;
}.Detail .nbsp
{
    opacity: 0;
}.Detail .gold
{
    font-size: .4rem;
    line-height: 1.33333rem;
}.Detail .gold span
{
    color: #00f2ff;
}.Detail .btn
{
    font-size: .4rem;;
    line-height: 1.06667rem;

    width: 5.33333rem;
    height: 1.06667rem;
    margin: 0 auto;

    color: #2f0233;
    background: #00f2ff;
}.Detail .noGold
{
    font-size: .4rem;;

    margin-top: .26667rem;

    color: #00f2ff;
}.Detail .noGold span
{
    text-decoration: underline;
}.rules
{
    position: fixed;
    top: 0;
    left: 0;

    width: 100%;
    height: 100%;

    background: rgba(0,0,0,.5);
}.rules .box
{
    width: 70%;
    margin: 2.66667rem auto;
    padding: 1.33333rem .26667rem;

    color: #333;
    border-radius: .26667rem;;
    background: #fff;
}
