#title
{
    position: relative;

    height: 1.06667rem;

    background: #ebff00;
}#title .back-btn
{
    position: absolute;
    top: 0;
    left: 0;

    width: 1.06667rem;
    height: 1.06667rem;

    -webkit-transform: rotate(90deg);
            transform: rotate(90deg);

    background: url('http://m.wxqing.cn/static/image/arrowl.png') no-repeat;
    background-position: 50%;
    background-size: 50%;
}#title .title-name
{
    font-size: .42667rem;
    font-weight: 700;
}#title .right-div,
#title .title-name
{
    line-height: 1.06667rem;

    text-align: center;
}#title .right-div
{
    font-size: .37333rem;

    position: absolute;
    top: 0;
    right: 0;

    width: 2.66667rem;
    height: 1.06667rem;
}
